* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Tulpen";
  src: url(font/TulpenOne-Regular.ttf);
  font-weight: 100;
}
/*
あると便利なもの

@font-face {
  font-family: "名前";
  src: url("ルーティング(どこのファイルの何 ../font/~~~");
  font-weight: "太さ 100とか300とか";
}

:root{
    --maingreen: #419e9d;
  }
  これやると color: var(--maingray);で通るし一遍に色変えれるから地味に便利
 */

body {
  height: 2000px;
  background: linear-gradient(to bottom right, #9eadc8, #b2a1c2);
}

.main-visual {
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: "Tulpen";
  letter-spacing: 15px;
  margin: 80px 0;
}

h1 {
  font-size: 630%;
  font-weight: 200;
  width: 100%;
  letter-spacing: 45px;
  text-align: center;
  color: #fefefe;
  padding: 15px 0;
}

.main-visual-time {
  font-size: 280%;
  font-weight: 200;
  width: 100%;
  text-align: center;
  color: #fefefe;
  padding: 15px 0;
}

.main-visual-video-wrap {
  margin: 30px auto;
  width: 53%;
}

.img-link {
  font-size: 200%;
  font-weight: 200;
  width: 100%;
  text-align: center;
  color: #fefefe;
  padding: 15px 0;
}

a {
  text-decoration: none;
  color: #fefefe;
  border-bottom: 3px;
}
